CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52810_QFAA=y
CONFIG_BOARD_ASL_GLOVE_NRF52810=y

CONFIG_GPIO=y
CONFIG_GPIO_AS_PINRESET=y

CONFIG_ARM_MPU=n
CONFIG_HW_STACK_PROTECTION=n

CONFIG_SERIAL=n
CONFIG_CONSOLE=n
CONFIG_UART_CONSOLE=n
CONFIG_PRINTK=n
CONFIG_LOG=n
CONFIG_BOOT_BANNER=n

CONFIG_PM=n
CONFIG_PM_DEVICE=n